<nav class="sidebar">
  <h4>Projects due today:</h4>

  <ul>
    <li>- Sample Project</li>
    <li>- Sample Project</li>
    <li>- Sample Project</li>
  </ul>

  <h4>Todos due today:</h4>

  <ul>
    <li>- Sample Todo</li>
    <li>- Sample Todo</li>
    <li>- Sample Todo</li>
  </ul>
</nav>

<section id="dashboard">
  <div class="dash-header">
    <h2>Projects</h2>

    <ul class="filters">
      <li class="active">All Projects</li>
      <li><span class="upcoming"></span>Upcoming</li>
      <li><span class="active"></span>Active</li>
      <li><span class="complete"></span>Completed</li>
    </ul>
  </div>

  <div class="projects">
    <div class="project active">
      <div class="project-header">
        <div class="information">
          <span>Due Today</span>
          <h3>Sample Project</h3>
        </div>
        <div class="collab">
          <img src="/images/user.png" alt="User" />
        </div>
      </div>
      <div class="description">
        <p>
          Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi, squid keffiyeh High Life Brooklyn twee craft beer tousled chillwave.
        </p>
      </div>
      <div class="project-footer">
        <ul>
          <li>Tasks (14)</li>
          <li>Comments (3)</li>
          <li>Attachments (0)</li>
        </ul>
      </div>
    </div>
    <div class="project upcoming">
      <div class="project-header">
        <div class="information">
          <span>Due Today</span>
          <h3>Sample Project</h3>
        </div>
        <div class="collab">
          <img src="/images/user.png" alt="User" />
        </div>
      </div>
      <div class="description">
        <p>
          Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi, squid keffiyeh High Life Brooklyn twee craft beer tousled chillwave.
        </p>
      </div>
      <div class="project-footer">
        <ul>
          <li>Tasks (14)</li>
          <li>Comments (3)</li>
          <li>Attachments (0)</li>
        </ul>
      </div>
    </div>
    <div class="project active">
      <div class="project-header">
        <div class="information">
          <span>Due Today</span>
          <h3>Sample Project</h3>
        </div>
        <div class="collab">
          <img src="/images/user.png" alt="User" />
        </div>
      </div>
      <div class="description">
        <p>
          Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi, squid keffiyeh High Life Brooklyn twee craft beer tousled chillwave.
        </p>
      </div>
      <div class="project-footer">
        <ul>
          <li>Tasks (14)</li>
          <li>Comments (3)</li>
          <li>Attachments (0)</li>
        </ul>
      </div>
    </div>
    <div class="project active">
      <div class="project-header">
        <div class="information">
          <span>Due Today</span>
          <h3>Sample Project</h3>
        </div>
        <div class="collab">
          <img src="/images/user.png" alt="User" />
        </div>
      </div>
      <div class="description">
        <p>
          Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi, squid keffiyeh High Life Brooklyn twee craft beer tousled chillwave.
        </p>
      </div>
      <div class="project-footer">
        <ul>
          <li>Tasks (14)</li>
          <li>Comments (3)</li>
          <li>Attachments (0)</li>
        </ul>
      </div>
    </div>
    <div class="project complete">
      <div class="project-header">
        <div class="information">
          <span>Due Today</span>
          <h3>Sample Project</h3>
        </div>
        <div class="collab">
          <img src="/images/user.png" alt="User" />
        </div>
      </div>
      <div class="description">
        <p>
          Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi, squid keffiyeh High Life Brooklyn twee craft beer tousled chillwave.
        </p>
      </div>
      <div class="project-footer">
        <ul>
          <li>Tasks (14)</li>
          <li>Comments (3)</li>
          <li>Attachments (0)</li>
        </ul>
      </div>
    </div>
  </div>

</section>
