<section id="login">
  <form>
    <h3>Login to your existing account</h3>
    <p class="error" ng-if="logError"> {{ logError }} </p>
    <div class="input-group">
      <input type="text" ng-model="user.username" required>
      <label>Username</label>
    </div>
    <div class="input-group">
      <input type="password" ng-model="user.password" required>
      <label>Password</label>
    </div>
    <div class="form-footer">
      <a ui-sref="signup">Or Sign Up</a>
      <button ng-click="login(user)">Login</button>
    </div>
  </form>
</section>
