<section class="project">
  <div class="underlay"></div>

  <div class="content">
    <div class="project-header">
      <div class="project-info">
        <h2>Project Name</h2>
        <span class="date">Due 2/23/2016</span>
      </div>

      <button class="status-change">Complete</button>
    </div>

    <div class="description">
      <p>Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them Marfa.</p>
    </div>

    <hr>

    <div class="lists">
      <div class="tasks">
        <div class="tasks-belt">
          <h3>Tasks</h3>

          <button class="add-task">Add Task</button>
        </div>

        <ul>
          <li>
            <div class="task-header">
              <h4>Do this random task</h4>
              <span>Due today</span>
            </div>

            <div class="task-footer">
              <i class="mdi mdi-close"></i>
              <i class="mdi mdi-check"></i>
            </div>
          </li>
          <li>
            <div class="task-header">
              <h4>Do this random task</h4>
              <span>Due today</span>
            </div>

            <div class="task-footer">
              <i class="mdi mdi-close"></i>
              <i class="mdi mdi-check"></i>
            </div>
          </li>
          <li>
            <div class="task-header">
              <h4>Do this random task</h4>
              <span>Due today</span>
            </div>

            <div class="task-footer">
              <i class="mdi mdi-close"></i>
              <i class="mdi mdi-check"></i>
            </div>
          </li>
        </ul>
      </div>

      <div class="files">
        <div class="files-belt">
          <h3>Files</h3>

          <button class="add-file">Add File</button>
        </div>

        <ul>
          <li>
            <h4>filename.jpg</h4>
            <i class="mdi mdi-close"></i>
          </li>
          <li>
            <h4>filename.jpg</h4>
            <i class="mdi mdi-close"></i>
          </li>
          <li>
            <h4>filename.jpg</h4>
            <i class="mdi mdi-close"></i>
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="comments">
      <div class="comments-belt">
        <h3>Comments</h3>

        <button class="add-comment">Add Comment</button>
      </div>

      <ul>
        <li>
          <img src="/images/user.png" alt="User">

          <p>Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage.</p>
        </li>
        <li>
          <img src="/images/user.png" alt="User">

          <p>Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
