@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #FCFCFC; }

body,
h1,
h2,
h3,
label,
input {
  font-family: "Open Sans", Helvetica, sans-serif; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

header {
  background: #FFFFFF;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(98, 98, 98, 0.5); }
  header::after, header::before {
    clear: both;
    display: block;
    content: " "; }
  header a.logo {
    background: #F29696;
    line-height: 80px;
    font-size: 24px;
    display: block;
    width: 250px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    float: left; }
  header nav {
    float: right;
    margin-right: 70px;
    text-align: right; }
    header nav a {
      color: #CFCFCF;
      text-decoration: none;
      line-height: 80px;
      font-size: 18px;
      margin-left: 30px; }
      header nav a.active {
        color: #36413D; }
  header .navigation {
    width: calc(100% - 250px);
    margin-left: 250px; }
    header .navigation .header-search {
      margin-left: 80px;
      position: relative;
      float: left;
      height: 80px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .navigation .header-search input {
        border: 1px solid #CFCFCF;
        height: 40px;
        width: 220px;
        border-radius: 100px;
        outline: none;
        padding: 0 25px;
        font-size: 18px;
        color: #CFCFCF;
        background: transparent;
        position: relative;
        z-index: 1; }
      header .navigation .header-search label {
        position: absolute;
        left: 25px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        color: #CFCFCF;
        font-size: 18px; }
      header .navigation .header-search input:valid ~ label,
      header .navigation .header-search input:focus ~ label {
        display: none; }
    header .navigation .right-nav {
      float: right;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 80px;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 80px; }
      header .navigation .right-nav ul.account-links {
        list-style-type: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .navigation .right-nav ul.account-links li {
          display: block;
          margin-right: 20px;
          color: #CFCFCF;
          font-size: 18px; }
          header .navigation .right-nav ul.account-links li.active {
            color: #36413D; }
      header .navigation .right-nav button {
        background: #F29696;
        box-shadow: -2px 0 4px rgba(242, 150, 150, 0.5), 2px 2px 4px rgba(242, 150, 150, 0.5);
        border: none;
        outline: none;
        height: 40px;
        width: 140px;
        border-radius: 100px;
        color: #FFFFFF;
        font-size: 18px;
        cursor: pointer; }

nav.sidebar {
  width: 250px;
  background: #FFFFFF;
  box-shadow: 2px 0 6px rgba(98, 98, 98, 0.5);
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  padding: 1.2rem; }
  nav.sidebar h4 {
    color: #F29696;
    font-size: 18px;
    line-height: 22px; }
  nav.sidebar ul {
    color: #CFCFCF;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 20px; }
    nav.sidebar ul li {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 6px; }

section#login,
section#signup {
  background-image: url("/images/Login-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px); }
  section#login form,
  section#signup form {
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  section#login h3,
  section#signup h3 {
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
    margin-bottom: 40px; }
  section#login .input-group,
  section#signup .input-group {
    position: relative;
    margin-bottom: 40px; }
    section#login .input-group input,
    section#signup .input-group input {
      width: 100%;
      border: 1px solid #F29696;
      border-radius: 100px;
      height: 48px;
      outline: none;
      padding-left: 25px;
      color: #CFCFCF;
      font-size: 18px; }
    section#login .input-group label,
    section#signup .input-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #F29696;
      left: 25px;
      font-size: 18px; }
    section#login .input-group input:focus ~ label,
    section#login .input-group input:valid ~ label,
    section#signup .input-group input:focus ~ label,
    section#signup .input-group input:valid ~ label {
      display: none; }
  section#login .form-footer,
  section#signup .form-footer {
    height: 45px; }
    section#login .form-footer::after, section#login .form-footer::before,
    section#signup .form-footer::after,
    section#signup .form-footer::before {
      content: " ";
      display: block;
      clear: both; }
    section#login .form-footer a,
    section#signup .form-footer a {
      color: #FFE2AD;
      text-decoration: none;
      font-size: 18px;
      float: left;
      line-height: 45px; }
    section#login .form-footer button,
    section#signup .form-footer button {
      background: #F29696;
      width: 150px;
      color: #FFFFFF;
      text-align: center;
      font-size: 22px;
      border-radius: 100px;
      outline: none;
      border: none;
      height: 45px;
      box-shadow: -2px 0 6px rgba(242, 150, 150, 0.5), 2px 2px 6px rgba(242, 150, 150, 0.5);
      cursor: pointer;
      float: right; }

section#dashboard {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 30px 90px; }
  section#dashboard .dash-header {
    height: 25px; }
    section#dashboard .dash-header::before, section#dashboard .dash-header::after {
      clear: both;
      display: block;
      content: " "; }
    section#dashboard .dash-header h2 {
      float: left;
      font-size: 24px;
      color: #36413D;
      line-height: 45px; }
    section#dashboard .dash-header ul.filters {
      float: right;
      list-style-type: none; }
    section#dashboard .dash-header li {
      color: #CFCFCF;
      font-size: 14px;
      float: left;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 20px;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 45px;
      cursor: pointer; }
      section#dashboard .dash-header li.active {
        color: #36413D; }
      section#dashboard .dash-header li span {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: block;
        margin-right: 4px; }
        section#dashboard .dash-header li span.upcoming {
          background: #CFCFCF; }
        section#dashboard .dash-header li span.active {
          background: #9ACFA2; }
        section#dashboard .dash-header li span.complete {
          background: #F29696; }
  section#dashboard .projects {
    margin-top: 60px; }
    section#dashboard .projects .project {
      width: 323px;
      height: 204px;
      margin-right: 20px;
      margin-bottom: 20px;
      background: #9ACFA2;
      border-radius: 6px;
      float: left;
      padding: 20px;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out; }
      section#dashboard .projects .project:hover {
        box-shadow: 2px 2px 6px rgba(98, 98, 98, 0.5), -2px -2px 6px rgba(98, 98, 98, 0.5); }
      section#dashboard .projects .project:nth-child(3n) {
        margin-right: 0; }
      section#dashboard .projects .project.active {
        background: #9ACFA2; }
      section#dashboard .projects .project.upcoming {
        background: #CFCFCF; }
      section#dashboard .projects .project.complete {
        background: #F29696; }
      section#dashboard .projects .project .project-header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        section#dashboard .projects .project .project-header span {
          color: #E0E0E0;
          font-size: 10px;
          display: block;
          margin-bottom: 3px; }
        section#dashboard .projects .project .project-header h3 {
          color: #FFFFFF;
          font-size: 18px;
          margin-bottom: 10px; }
      section#dashboard .projects .project .description p {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 18px; }
      section#dashboard .projects .project .project-footer ul {
        list-style-type: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 40px;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        section#dashboard .projects .project .project-footer ul li {
          font-size: 13px;
          color: #4C657E; }

form p.error {
  background: #F29696;
  color: #FFFFFF;
  padding: 10px 25px;
  border-radius: 100px;
  margin-bottom: 10px; }
